@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 
body{
    margin: 0;
    background-color: #fefdfb;
    font-family: 'Poppins', sans-serif;
    /* padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; */
}
.wrapper{
    width: 90%;
    margin: 0 auto;
  }
  header{
    width: 100%;
    height: 72px;
    background: rgb(15, 15, 15);
  }
  .logo2{
       width: 25%;
       float: left;
       text-align: left;
       line-height: 90px;
  }
  .logo2 img{
    width: 40%;
    padding: 28px 10px;
  }
nav2{
    float: right;
    line-height: 55px;
  }
nav2 a{
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: #fff;
    padding: 5px 10px;
    margin: 5 5px;
  }
nav2 .fa{
    display: none;
  }
nav2 a:hover{
    /* background: #fff; */
    color: rgb(135, 135, 255)
  }

.slider-container{
    max-width: 1120px;
    position: absolute;
    left: -1%;
    margin-top: 8%;
    width: 100%;
    padding: 40px 0;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card{
    border-radius: 25px;
    background-color: rgb(235, 230, 230);
}
.image-content, 
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #c1aea2;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #686b74;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: rgb(172, 170, 170);
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background:rgb(153, 152, 152);
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #72757d;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color:#333;
}
.description{
    font-size: 14px;
    color:#333;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: rgb(253, 247, 247);
    padding: 8px 16px;
    background-color: #545456;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
button:hover{
    background-color: #ba3c3c;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
     transform: scale(1.1);
}

@media screen and (max-width: 768px){

    .slide-content{
        margin: 0 10px;
    }
    .swiper-navBtn{
        display: none;
    }
    
}
/* FOOTER */
.footer{
    width: 100%;
    position: absolute;
    top: 110%;
    text-align: center;
    padding: 30px 0;
  }
  .footer h4{
    margin-bottom: 25px;
    margin-top: 70px;
    color: rgb(7, 7, 7);
    font-weight: 600;
  }
  .icons .fa{
     color: #f33a2d;
     margin: 0 13px;
     cursor: pointer;
     padding: 0px 0;
  }
  .line2{
    width: 100%;
    height: 2px;
    background: rgb(49, 49, 51);
    margin: -40px auto;
    border-radius: 10px 20px;
  }